<html>
    <head>
        <link rel="stylesheet" href="/static/styles.css">
    </head>
    <body>
        <div id="sidebar">
            <div id="foto">
                <img src="/static/images/luka.jpg" alt="luka" width="200px">
                <h3> personal information</h3> <br>
                    <h4>Date of birth: 10-04-2002</h4> <br>
                    <h4>Place of birth: Tilburg, The Netherlands</h4><br>
                <h3>Contact</h3> <br>
                    <h4>Phone number: +31636546781</h4><br>
                    <h4>Email: luka.westgeest at gmail.com</h4><br>
                    <h4>Email: luka.westgeest at windesheim.com</h4><br>
            </div>
        </div>
        
        <div id="main">
        
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>