{% extends "base.html" %}
{% block content %}
        <h1 >Hotel Restaurant Brabant (waitres)</h1>
        <h4>January 2018-September 2019</h4>
        <h2>My second side job was in Hotel restaurant Brabant. I worked here mainly as a waitres, but later I also learned ancillary activities, like picking up the phone, checking in people for the hotel or making reservations for the restaurant.</h2>
        <img src="/static/images/brabant.jpeg" alt="www.hotelbrabant.com" width="500px">
{% endblock %}