{% extends "base.html" %}
{% block content %}

    <div id="personalia">

        <h1 >Luka Westgeest </h1> 
        <h1>CV</h1>
    </div>

    <div id="opleidingen">
        <h2>educations</h2>
            <h4> 2014 - 2019</h4> <br>
            <a href="/cakes">De nieuwste school</a> <br>
            <h4> 2019 - ?</h4> <br>
            <a href="/windesheim">Global project and change management</a><br>
            <h4> 2020 </h4>
            <a href="/python">Introduction to Python: Fundamentals</a>
    </div>

    <div id="werk_ervaring">
        <h2>Working experience</h2>
        <h4>February 2017– December 2017</h4> <br>
        <a href="/swaanen">Bakkery Zwanen (saturday help)</a> <br>
        <h4>January 2018 – September 2019</h4> <br>
        <a href="/brabant">Hotel Resataurant Brabant (waitres)</a> <br>
        <h4> 2016 – 2019 </h4> <br>
        <a href="/kleine_verschil">'t Kleine verschil (voluntary work)</a> <br>
        <h4> 2014–2019 </h4> <br>
        <a href="/baby_sitting">'Baby sitting</a> <br>
        <h4> June 2020 - ?</h4> <br>
        <a href="/onsz">Restaurant Onsz (waitres)</a> <br>
        <h4> June 2020 -?</h4>
        <a href="/pepperminds">Pepperminds (sales)</a> <br>
        <h4> 2020 - ? </h4>
        <a href ="/vinea">vinea vacations</a> <br>
    </div>

    <div id="Kwaliteiten">
        <h2>Qwalities</h2>
        <h3>Responsible</h3>
        <h3>Helpfull</h3>
        <h3>Concerned</h3>
        <h3>Diligent</h3>
        <h3>Hospitable</h3>
        <h3>Caring</h3>
        <h3>Spontaneous</h3>

    </div>
{% endblock %}