{% extends "base.html" %}
{% block content %}
        <h1 >'t kleine verschil (voluntary work)</h1>
        <h4>2016–2019</h4>
        <h2>Once a month, one day from 9 till 17.00, I did voluntary work at 't kleine verschil. This is a leisurement organisation for children with a disability. This way the children had a fun day out and the parants had a free day. "t kleine verschil is part of a bigger organisation called Ammarant" </h2>
        <img src="/static/images/amarant.png" alt="Amarant" width="500px">
{% endblock %}