
{% extends "base.html" %}
{% block content %}
        <h1>Introduction to Python: Fundamentals</h1>
        <h4>2020</h4>
        <h3>This is an online MOOC from Microsoft. I learned the basics of python and received a vertified certificate. The certificate is shown in a screenshot underneath, but is also accasible via the next link: https://courses.edx.org/certificates/19579e4ee829449e9ef1c264b271fde1.</h3>
        <img src="/static/images/python_certificate.png" alt="python_certificate" width="600px">
{% endblock %}