{% extends "base.html" %}
{% block content %}
        <h1>Bakkerij Swaanen (zaterdag Hulp)</h1>
        <h4>fabruary 2017- september 2017</h4>
        <h2>When I was 14 years old I had my first "real" side job, this was in bakery Zwanen. I worked here as a saturday help. This meant that I helped every satyrday from 8.00 till 15.00 with wrapping bread and cleaning the bakkery.</h2>
        <img src="/static/images/swaanen.png" alt="http://www.janswaanen.echtebakker.nl/" width="500px">
{% endblock %}
